
/* Footer */
#footer{
  background-color: #14274e;
  padding: 50px 50px 50px 50px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  
}


.copyright{
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
.social-icon{
  margin: 20px 20px;
  color: white;
  
}
.social-icon:hover{
  color:#6b6d6e
}

.hr_reduced{
  width: 300px;
}

.color{
  background-color: #14274e;
    color: white;
}

.contact{
  padding-left: 100px 10px 10px 10px;
  background-color: white;
}

.me{
  box-shadow: none;
  border: 0ch;
  padding: 0%;
  color:black;
}

.leftNav{
  background-color: rgb(233, 243, 242);
}
.leftNav {
  font-size: large;
  color: turquoise;
}


.delete{
  float: left;
  background-color: rgb(236, 13, 43);
  border-radius: 75%;
  border: 2x solid #094372;
  padding: 10px 10px;
  color: white;
}
.delete:hover {
  cursor: pointer;
  color: #eaeff3;
}

.col1{
  color:"white"
}
.NavbarToggler{
  color:white;
}